:root{
  --accent: #174180;
  --accent-light: #3764a7;
  --pure-white: #fff;
}
html {
box-sizing: border-box;
scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: var(--accent);

}
.container{
  width: 1140px;
  margin:0 auto;
  padding: 0 15px;
}
.section{
  padding: 40px 0;
}
.section-title{
  text-transform: uppercase;
  text-align: center;
}
.header{
  background-color: var(--accent);
}
.header a{
  color: var(--pure-white);
  text-decoration: none;
}
.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header-logo{
  width: 20%;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Cookie', cursive;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3px; 
 
}
.header-menu{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-link{
  padding:  11px ;
  font-size: 16px;
    line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: backgroud-color 0.5;
}
.header-menu-item :hover {
  background-color: var(--accent-light);
}
.intro{
  padding: 60px 0;
 
}
.intro-inner{
  display:flex;
  justify-content: center;
  align-items: center;
  /* gap: 25px; */
}
.intro-left{
  width: 30%;
 
}
.intro-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.intro-right{
  width: 60%;
}
.intro-right h1
.intro-right h3 {
  margin: 0 0 10px;
}
.contacts{
  margin-bottom: 60px;
}
.contacts ul{
  display: flex;
  justify-content: center;
  gap: 65px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts li {
  text-align: center;
}
.skills{
  color: var(--pure-white);
  background-color: var(--accent);
}
.skills ul{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 15px;
margin: 0;
padding: 20px 0 ;
list-style: none;
}
.skills li{
  padding: 10px 25px;
  background-color: var(--accent-light);
  border-radius: 4px;
}
.code-example {
text-align: center;
}
.code-example pre {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: left;
  background-color: var(--accent);
  color: var(--pure-white);
  border-radius: 8px;
}
.portfolio{
  color: var(--pure-white);
  background-color: var(--accent);
}
.block_row{
  display: inline-flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
 text-align: center;
}
.block_columb1{
  order: 3;
}
.block_columb2{
  order: 2;
}
.block_columb3{
  order: 1;
}
.block_columb{
  flex-basis: 30px;
  border: 7px solid var(--accent-light);
}
.block_item{
  background-color: var(--accent-light);
  padding: 30px 50px;
  font-size: 50px;
  color: white;
  font-weight: 700;
  
}
.block_item2{
  width: 400px;
  height: 250px;
  background-image: url("/images/code.png");
  background-size: cover;
    background-repeat: no-repeat;
  
}
.block_item1{
  width: 350px;
  height: 200px;
  background-image: url("/images/logo-infinity.jpg");
background-size: cover;
  background-repeat: no-repeat;
 
}
h5{
  color: var(--pure-white);
  font-size: 20px;
  text-decoration: none;
}
.block_item3{
  width: 350px;
  height: 200px;
  background-image: url("/images/github.png");
  background-size: cover;
    background-repeat: no-repeat;
}
.languages-section ul{
  list-style: none;
}
.languages-section li {
  font-size: 20px;
  padding: 8px 0;
}
.education{
  color: var(--pure-white);
  background-color: var(--accent);
  padding: 30px;
}
.education li{
    font-size: 20px;
    padding: 8px 0;
  }
footer{
  font-size: 17px;
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;
}